body{
    margin: 0px;

    font-family: sans-serif;
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}
#contacts-list-container{
    text-align: center;
    margin-top: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 20px;
}

#contacts-list-container ul{
    padding: 0;
    list-style: none;
}

.contact{
    padding: 3px 10px;
    border: 1px solid white;
    background-color: skyblue;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: white;
    display: flex;
}

.contact .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}
.contact .delete-button{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 5px;
}
.contact .delete-button a{
color: white;
background-color: red;
}
.contact p{
    margin: 5px 0;
}